body {
    margin: auto;
}

// POLICE;

h1, .home {
    font-family: 'Open Sans', sans-serif;
}
.menu-1, .menu-3 {
    font-family: 'Dancing Script', cursive;
}
.sous__titre-menu-1, .sous__titre-menu-3, .sous__titre-menu-4 {
    font-family: 'Baloo 2', cursive;
    text-transform: uppercase;
}
.menu-4 {
    font-family: 'Kaushan Script', cursive;
}


.banner {
    background-color: rgb(61, 160, 135);
    color: rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 5;
} 

.section__menu {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    .bloc {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 700px;
        .zoom {
            width: 35%;
            overflow: hidden;
            box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
            margin-top: 20px;
            margin-bottom: 20px;
            a {
                text-align: center;
                color: black;
                text-decoration: none;
                transition: all .3s;
                .menu {
                    background: rgb(255, 222, 218);
                    font-size: 23px;
                    transition: .5s;
                    padding-top: 80px;
                    padding-bottom: 80px;
                    overflow: hidden;
                        .fa {
                            margin-top: -20px;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-image: -webkit-linear-gradient(right,#FF8A65, #f44336);
                        }
                        &:hover{
                            transform: scale(1.06);
                            opacity: 0.5;
                        }
                    }
                
                .menu-2 {
                    background: rgb(253, 255, 252);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: -webkit-linear-gradient(left, orange, purple);
                    .titre {
                        font-family: 'so';
                    }
                }
                .menu-3 {
                    background: rgb(253, 255, 252);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: -webkit-linear-gradient(left, #0D47A1, #4FC3F7);
                }
                .menu-4 {
                    background: rgb(253, 255, 252);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: -webkit-linear-gradient(left, green, #FDD835);
                }
            }
        }
    }
}

.container__prochainement {
    display: flex;
    justify-content: center;
    .bloc__prochainement {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 15%;
        font-size: 25px;
        color: rgb(255, 208, 0);
        background-color: rgb(61, 160, 135);
        margin-top: 35px;
        margin-bottom: 100px;
        border-radius: 10px;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        h2{
            font-size: .75em;
            font-family: 'Open Sans', sans-serif;
        }        

        .bloc-point {
            display: flex;
            font-size: 1em;
            margin-top: -10px;
            margin-right: 20px;
        }
        .point-1 {
            animation: point-1 1000ms infinite;
        }
        .point-2 {
            animation: point-2 1000ms infinite;
        }
        .point-3 {
            animation: point-3 1000ms infinite;
        }
        @keyframes point-1 {
            0% {
                margin-top: 0px;
            }
            25% {
                margin-top: 5px;
            }
            50% {
                margin-top: -10px;
            }
            100% {
                margin-top: 0px;
            }
        }
        @keyframes point-2 {
            0% {
                margin-top: 0px;
            }
            30% {
                margin-top: 5px;
            }
            60% {
                margin-top: -10px;
            }
            100% {
                margin-top: 0px;
            }
        }
        @keyframes point-3 {
            0% {
                margin-top: 0px;
            }
            35% {
                margin-top: 5px;
            }
            70% {
                margin-top: -10px;
            }
            100% {
                margin-top: 0px;
            }
        }
        a {
            text-decoration: none;
            color: rgb(255, 208, 0);
        }
    }
}

footer {
    background-color: rgb(61, 160, 135);
    color: rgb(255, 208, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 18px;
    position: fixed;
    width: 100%;
    .mention {
        padding-left: 2%;
        text-decoration: none;
        color: rgb(255, 208, 0);
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        &:hover {
            animation: mention 200ms infinite;
        }
    }
    .contact {
        padding-right: 2%;
        text-decoration: none;
        color: rgb(255, 208, 0);
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        &:hover {
            animation: contact 200ms infinite;
        }
    }

    @keyframes mention{
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    @keyframes contact{
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
}

// responsive

@media screen and (max-width: 1250px) {
    .container__prochainement {
        .bloc__prochainement {
            width: 20%;
        }
    }
}

@media screen and (max-width: 920px) {
    .container__prochainement {
        .bloc__prochainement {
            width: 25%;
        }
    }
}

@media screen and (max-width: 700px) {
    .section__menu { 
        .bloc {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            .zoom {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .container__prochainement {
        .bloc__prochainement {
            width: 30%;
        }
    }
}

@media screen and (max-width: 600px) {
    .container__prochainement {
        .bloc__prochainement {
            width: 35%;
        }
    }
}

@media screen and (max-width: 550px) {
    .container__prochainement {
        .bloc__prochainement {
            width: 30%;
        }
    }

    .section__menu {
        .bloc {
            a {
                width: 70%;
            }
        }
    }

    .container__prochainement {
        margin-bottom: 20px;
        .bloc__prochainement {
            width: 45%;
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        .mention, .contact {
            font-size: 17px;
        }
    }
    .container__prochainement {
        .bloc__prochainement {
            h2 {
               font-size: .6em;
            }
        }
    }
}