
.banner {
    background-color: rgb(61, 160, 135);
    display: flex;
    justify-content: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    color: rgb(255, 208, 0);
    a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }
}